spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/oep?user=root&password=123456&useUnicode=true&characterEncoding=utf8&autoReconnect=true
    username: root
    password: 123456

logging:
  level:
    root: debug
